@model IEnumerable<TransportServicesApp.Models.Advert>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddRequestAdvert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertOption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvertOption)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
