@model IEnumerable<TransportServicesApp.Models.Advert>

@{
    ViewData["Title"] = "UserAdverts";
}

<h1>UserAdverts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.Any())
{
    foreach (var advert in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <p>
                    <span class="text-black-50">@advert.AdvertType</span>
                    <span> transportu z </span>
                    <span class="text-black-50">@advert.CityFrom</span>
                    <span> do </span>
                    <span class="text-black-50">@advert.CityTo</span>
                </p>
            </div>
            @if (advert.AdvertType == "Prośba")
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Rodzaj Transportu:</label>
                            @if (advert.RequestType == 1)
                            {
                                <h6 class="text-black-50">Przejazd Pasażerski</h6>
                            }
                            else if (advert.RequestType == 2)
                            {
                                <h6 class="text-black-50">Przewóz Towaru</h6>
                            }
                            else
                            {
                                <h6 class="text-black-50">Niezdefiniowany</h6>
                            }
                        </div>
                        @if (advert.RequestType == 1 || advert.RequestType == 0)
                        {
                            <div class="col-md-3">
                                <label>Ilość Pasażerów:</label>
                                <h6 class="text-black-50">@advert.PassengerAmmount</h6>
                            </div>
                            <div class="col-md-3">
                                <label>Dodatkowy Bagaż:</label>
                                @if (advert.AdditionalBaggage)
                                {
                                    <h6 class="text-black-50">Tak</h6>
                                }
                                else
                                {
                                    <h6 class="text-black-50">Nie</h6>
                                }
                            </div>
                        }
                        @if (advert.RequestType == 2 || advert.RequestType == 0)
                        {
                            <div class="col-md-3">
                                <label>Rozmiary:</label>
                                <h6 class="text-black-50">@advert.Size</h6>
                            </div>
                            <div class="col-md-3">
                                <label>Waga:</label>
                                <h6 class="text-black-50">@advert.Weight Kg</h6>
                            </div>
                            <div class="col-md-3">
                                <label>Towar delikatny:</label>
                                @if (advert.IsFragile)
                                {
                                    <h6 class="text-black-50">Tak</h6>
                                }
                                else
                                {
                                    <h6 class="text-black-50">Nie</h6>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            @if (advert.AdvertType == "Oferta")
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Rodzaj Transportu:</label>
                            @if (advert.PassageType == 1)
                            {
                                <h6 class="text-black-50">Przejazd Pasażerski</h6>
                            }
                            else if (advert.PassageType == 2)
                            {
                                <h6 class="text-black-50">Przewóz Towaru</h6>
                            }
                            else
                            {
                                <h6 class="text-black-50">Niezdefiniowany</h6>
                            }
                        </div>
                        @if (advert.PassageType == 1 || advert.PassageType == 0)
                        {
                            <div class="col-md-3">
                                <label>Limit Pasażerów:</label>
                                <h6 class="text-black-50">@advert.PassengerLimit</h6>
                            </div>
                            <div class="col-md-3">
                                <label>Miejsce Na Dodatkowy Bagaż:</label>
                                @if (advert.AdditionalBaggage == true)
                                {
                                    <h6 class="text-black-50">Tak</h6>
                                }
                                else
                                {
                                    <h6 class="text-black-50">Nie</h6>
                                }
                            </div>
                        }
                        @if (advert.PassageType == 2 || advert.PassageType == 0)
                        {
                            <div class="col-md-3">
                                <label>Max. Rozmiary:</label>
                                <h6 class="text-black-50">@advert.MaxSize</h6>
                            </div>
                            <div class="col-md-3">
                                <label>Max. Waga:</label>
                                <h6 class="text-black-50">@advert.MaxWeight</h6>
                            </div>
                        }
                    </div>
                </div>
            }


            <div class="card-footer">
                <form method="post" asp-action="DeleteAdvert" asp-route-id="@advert.Id">
                    <a asp-controller="Advertmanager" asp-action="EditAdvert"
                       asp-route-id="@advert.Id" class="btn btn-primary">Edytuj</a>

                    <span id="confirmDeleteSpan_@advert.Id" style="display:none">
                        <span>Czy na pewno chcesz usunąć?</span>
                        <button type="submit" class="btn btn-danger">Tak</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@advert.Id', false)">Nie</a>
                    </span>

                    <span id="deleteSpan_@advert.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@advert.Id', true)">Usuń</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Nie dodano jeszcze żadnego ogłoszenia
        </div>
        <div class="card-body">
            <h6 class="card-title">
                Aby dodać nowe ogłoszenie, wybierz jedną z opcji poniżej:
            </h6>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="AdvertManager" asp-action="AddRequestAdvert">
                Dodaj nową prośbę
            </a>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="AdvertManager" asp-action="AddPassageAdvert">
                Dodaj nową ofertę
            </a>
        </div>
    </div>
}
