@model IEnumerable<TransportServicesApp.Models.Advert>

@{
    ViewData["Title"] = "SearchResult";
}

<h1>SearchResult</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (!Model.Any())
{
    <p>ni ma :(</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFragile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalBaggage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFragile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalBaggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
}
